.button {
  border-radius: 1em;
  border-width: 0;
  padding: 0.75em 2em;
  font-size: 1rem;
  font-family: inherit;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.7);
}

.button a {
  appearance: button;
  text-decoration: none;
  color: initial;
}

.button.none {
  background-color: transparent;
  color: white /* For underline color */;
}

.button.none a {
  color: white;
}

.button.none:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.button.grey {
  background-color: var(--light-grey-color);
}

.button.grey:hover {
  background-color: var(--light-grey-color-highlighted);
}

.button.green {
  background-color: var(--green-color);
}

.button.green:hover {
  background-color: var(--green-color-highlighted);
}
