.navbar-element {
  color: #9b9a9a;
  text-align: end;
  font-family: inherit;
  margin: 3em 0;
}

.navbar-element.active {
  color: var(--white-text-color);
  text-shadow: 0 0 3.5px var(--white-text-color);
}

.navbar-element:hover {
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 50%;
  right: 15%;
  transform: translate(0, -50%); /* To center the contents, doesn't support IE8 and below */

  list-style: none; /* Remove list bullets */
}

