.project-card {
  text-align: left;
  align-items: stretch;

  margin: 3rem auto;
  width: 100%;
  max-width: 70rem;
  min-height: 30rem;
  font-size: 1.5rem;

  background-color: var(--dark-blue-color);
  border-radius: 1.5rem;
}

.project-card .info {
  position: relative; /* Because button is absolutely positioned from this container */
  display: block;
}

.project-card:nth-child(even) .info {
  order: 2;
}

.project-card .text {
  padding: 0 2.5em;
  margin: 15% 0;
}

.project-card h3 {
  font-size: 2em;
}

.project-card p {
  margin-top: 0.5em;
}

.project-card .button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-block: 3rem;
  width: 100%;
}

.project-card img {
  max-width: 100%;
  overflow: hidden;
  padding: 2rem;
}

.project-card .project-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 1.5rem 1.5rem 0; /* So only one side is rounded */
}

.project-card:nth-child(even) .project-image {
  border-radius: 1.5rem 0 0 1.5rem;
}

/* ---------- PROJECT IMAGES ----------- */

.khabu-image {
  background-image: linear-gradient(
    150deg,
    rgb(59, 53, 53) -20%,
    rgb(163, 120, 120)
  );
}

.galaxy-shooter-image {
  background-image: linear-gradient(140deg, #02264b, #5b96d6);
}

.this-page-image {
  background-image: linear-gradient(150deg, #3f3f3f -20%, #202022);
}
